{% load blog_tags keyword_tags mezzanine_tags i18n future %}

{% block blog_keywords %}
{% keywords_for blog.blogpost as tags %}
{% if tags %}
  <div class="news-tags">
    <h3>{% trans "Tags" %}</h3>
    <ul class="list-inline tag-cloud">
      {% for tag in tags %}
        <li>
          <a href="{% url "blog_post_list_tag" tag.slug %}"
             class="tag-weight-{{ tag.weight }}">{{ tag }}</a>
    ({{ tag.item_count }})
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
{% endblock %}
