{% extends "blog_layout.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
  {% keywords_for page as keywords %}
  {% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
  {% endfor %}
  {% endmetablock %}{% endblock %}

  {% block meta_description %}{% metablock %}
    {{ page.description }}
    {% endmetablock %}{% endblock %}
    {% block main %}
      {% for blog_post in blog_posts.object_list %}
        <div class="news-post">
          <div class="news-info">
            {% block blog_post_list_created %}
              <h6>{{ blog_post.created|date:"Y-m-d H:i" }}</h6>
            {% endblock %}
            {% block blog_post_list_post_metainfo %}
              <h6 class="post-meta">
                {% with blog_post.categories.all as categories %}
                  {% if categories %}
                    {% for category in categories %}
                      <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </h6>
            {% endblock %}
          </div>
            {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
              {% block blog_post_list_post_featured_image %}
                <a href="{{ blog_post.get_absolute_url }}">
                  <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 90 90 %}">
                </a>
              {% endblock %}
            {% endif %}
            <div class="news-contents">
              {% block blog_post_list_post_content %}
                {% editable blog_post.content %}
                {{ blog_post.content|truncatewords_html:10|safe }}
                {% endeditable %}
              {% endblock %}
              {% block blog_post_list_post_links %}
                  {% keywords_for blog_post as tags %}
                  {% if tags %}
                    <ul class="list-inline tags">
                      {% trans "Tags" %}:
                      {% spaceless %}
                        {% for tag in tags %}
                          <li><a rel="tag" href="{% url "blog_post_list_tag" tag.slug %}" class="tag">{{ tag }}</a></li>
                        {% endfor %}
                      {% endspaceless %}
                    </ul>
                  {% endif %}
                  <p class="text-right">
                    <a href="{{ blog_post.get_absolute_url }}">{% trans "read more" %}<span class="glyphicon glyphicon-chevron-right"></span></a>
                  </p>
              {% endblock %}
            </div>
        </div>
      {% endfor %}
      {% pagination_for blog_posts %}

      {% if settings.COMMENTS_DISQUS_SHORTNAME %}
        {% include "generic/includes/disqus_counts.html" %}
      {% endif %}

    {% endblock %}

    {% block right_panel %}
      {% search_form "blog.BlogPost" %}
      {% include "blog/includes/filter_panel.html" %}
    {% endblock %}
